/* const API_HOST = "https://127.0.0.1";
const API_PORT = 9000; */
// const API_HOST = "https://rico.cx";
// const API_PORT = 443;

// settings.js will be rendered by the server with the correct values
const DEBUG_MODE = {{ debug_mode|tojson }};

// Set API host and port based on debug mode
let API_HOST, API_PORT;

if (DEBUG_MODE) {
    API_HOST = "https://127.0.0.1";
    API_PORT = 9000;
} else {
    API_HOST = "https://rico.cx";
    API_PORT = 443;
}