<link rel="stylesheet" type="text/css" href="/static/css/video-player.css">
<link rel="stylesheet" type="text/css" href="/static/css/material-symbols-rounded.css">
<link rel="stylesheet" type="text/css" href="/static/css/material-icons.css">
<link rel="stylesheet" type="text/css" href="/static/css/font-awesome-6.2.1.min.css">
<script src="/static/js/video-player.js" type="text/javascript" defer></script>

<div class="video-player">
{% if video_url %}
	<div class="container">
{% else %}
	<div class="container" hidden>
{% endif %}
	<div class="wrapper">
		<div class="video-timeline">
			<div class="progress-area">
				<span>0:00</span>
				<div class="progress-bar"></div>
			</div>
		</div>
		<ul class="video-controls">
			<li class="options left">
				<button class="volume"><i class="fas fa-volume-high"></i></button>
				<input type="range" id="range-input">
				<div class="video-timer">
					<p class="current-time">0:00</p>
					<p class="separator"> / </p>
					<p class="video-duration">0:00</p>
				</div>
			</li>
			<li class="options center">
				<button class="skip-backward"><i class="fas fa-backward"></i></button>
				<button class="play-pause"><i class="fas fa-play"></i></button>
				<button class="skip-forward"><i class="fas fa-forward"></i></button>
			</li>
			<li class="options right">
				<div class="settings-content">
					<button class="playback-settings"><i class="fas fa-gear"></i></button>
					<ul class="settings-options">
						<li>2160p</li>
						<li>1440p</li>
						<li class="active">1080p</li>
						<li>720p</li>
						<li>480p</li>
						<li>360p</li>
					</ul>	
				</div>
				<button class="picture-in-picture">
					<span class="material-symbols-rounded">picture_in_picture_alt</span>
				</button>
				<button class="fullscreen"><i class="fas fa-expand"></i></button>
			</li>
		</ul>
	</div>
	{% if user.is_authenticated %}
		<video id="video-id" preload="metadata" src="{{ video_url }}"></video>
	{% else %}
		<!-- <video id="video-id" preload="metadata" autoplay muted loop src="/static/video/loading.mp4"></video> -->
	{% endif %}
</div>
</div>
</div>
