#aiohttp==3.9.0b0
#werkzeug==2.3.0
aiohttp
werkzeug
Flask
Flask[async]
Flask-Cors
Flask-Login
tmdbv3api
tqdm
requests
selenium
oauthlib
cryptography
#jmespath
waitress
cachetools
discord
lxml
dotenv
feedparser
bencodepy
pyopenssl