@media (prefers-color-scheme: light) {
	:root {
		--result-card-background-color: #0000001A;
		--title-text-color: #333;
		--body-color: #444444;
		--body-text-color: #FFF;
		--body-background-color: #E3F2FD ;
		--body-background-image: url(../img/background-2-2dark-landscape-bottom-gradient-black.png);
		--body-background-image-narrow: url(../img/background-1-light-portrait.png);
		--primary-color: #FFF;
		--secondary-color: #2289FF;
		--background-color: #EFEFEF;
		--footer-background-color: #FFF;
		--table-header-background-color: #C2C4D5;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--result-card-background-color: #202020DC;
		--title-text-color: #FFF;
		--body-color: #EEE;
		--body-text-color: #EEE;
		--body-background-color: #131313;
		--body-background-image: url(../img/background-2-2dark-landscape-bottom-gradient-black.png);
		--body-background-image-narrow: url(../img/background-2-dark-portrait-bottom-gradient.png);
		--primary-color: #A5A5A5;
		--secondary-color: #3F3F3F;
		--background-color: #292929;
		--footer-background-color: #0C0C0C;
		--table-header-background-color: #EEE;
	}
}

:root {
	--video-player-bottom-gradient-color: #000;
	--off-white: #F1F1F1;
}
